@font-face{
    font-family: "aboutfont";
    src: url('/public/fonts/AirbnbCerealExtraBold.ttf') format('truetype'),
         url('/public/fonts/AirbnbCerealMedium.woff') format('woff');
}
.text{
    font-family: 'aboutfont', sans-serif;
    margin: 1rem 0rem;
    font-weight: 400;
    color: black;
}
.heading{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: black;
    margin: 2rem 0rem;
    font-size: 6rem;
}
.image{
    position:relative;
    top:3rem;
    margin-bottom:15rem;
}

.contain{
    position:relative;
    top:14rem;
    width:90%;
}